.offer-block:hover{
    cursor: pointer
}

.index-table{
    border-collapse: collapse;
}

.index-table td{
    border:none;
}
.user-table td {
    border: none;
}
.offer-table td {
    border: none;
}
